/* This file is for global css rules that are not
   customizations of Bootstrap rules. Please put those
   in _overrides.less */

#app-name {
  background: url(../img/icon.png) no-repeat 18px 5px;
  padding-left: 45px;
}
#app-name:hover {
  background: url(../img/icon-glow.png) no-repeat 12px 0;
}

.content {
  padding: 10px 20px 0 20px;
  overflow: visible;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
}

footer {
  padding: 20px;
  text-align: center;
  color: #999;
  font-size: 0.9em;
  margin-bottom: 20px;
}

.lab-infos {
  margin: 0 0 10px 0;
  border: 1px #DDD solid;
  .border-radius(@borderRadiusSmall);

  .lab-info-suspended {
    background-color: @warningBackground;
  }
}

.lab-info {
  position: relative;
  min-height: 66px;

  .row-lab-info {
    margin-right: -20px;
  }

  .info-list {
    margin: 0;
  }

  a {
    color: @textColor;
    display: block;
    padding: 16px 20px 18px 20px;
    border-bottom: 1px #DDD solid;
    z-index: -2;
  }

  a:hover {
    text-decoration: none;
    background-color: @blockHoverColor;
  }

  a h2 span:hover {
    text-decoration: underline;
    color: @linkColorHover;
  }

  h2 {
    margin: 0;
    color: @linkColor;
  }

  .stats { line-height:36px; font-size: 1em; }

  .submission-graph {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 640px;
    z-index:-1;
 
    canvas {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

dl.info-list {
  margin: 0;

  > dt {
    clear: left;
    float: left;
    padding-right: .5em;
  }
  > dt:after {
    content: ":";
  }
}

#create-new-lab-box, #no-labs {
  background-color: #F9F9F9;
  font-size: 1.5em;
  color: #AAA;
  font-weight: 300;
  text-align: center;
}

#create-new-lab-box {
  line-height: 70px;
}

#no-labs {
  border: 1px #DDD solid;
  .border-radius(@borderRadiusSmall);
  line-height: 170px;
  margin-top: 10px;
}

.lab-delete-form {
  float: right;
  margin-right: 20px;
  form {
    margin: 0;
    padding: 0;

    button {
      margin: 0;
    }
  }
}

.small-text {
  font-size: 0.8em;
}

.small-date { 
  .muted;
  .small-text;
}

.buttons {
  padding-top: 10px;
  padding-bottom: 10px;
}

.thumbnails {
  margin-bottom: 0;
}

.thumbnail {
  h3 {
    margin-top: 0;
    padding: 3px 6px 3px 12px;
    background: @grayEvenLighter;
    overflow: auto;

    a, span {
      color: inherit;
      white-space: nowrap;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      float: left;
      width: 250px;
    }

    span {
      color: #BBB;
    }
  }

  h4 {
    color: @textColor;
  }

  p {
    color: @textColor;
  }
}

#confirm-leavegroup {
  i {
    color: @errorText;
  }
  i:hover {
    text-decoration: none;
    color: darken(@errorText, 20%);
  }
}

.lab {
  > div {
    height: 9*@baseLineHeight + 8px;
  }


  h4 {
      font-size: 16px;
      padding-left: 7px;
      text-align: center;
  }

  p {
    padding-left: 8px;
    padding-top: 15px;
    font-size: 1.1em;
    line-height: 1.6em;
  }

  .thumbnail {
    p {
      padding: 0;
      text-align: center;
    }
  }

  .deadline-human {
      padding-top: 7px;
      padding-bottom: 11px;
      font-size: 2.8em;
      line-height: 2*@baseLineHeight;
      font-weight: 300;
      text-align: center;
  }

  .deadline-date {
      .muted;
      padding-top: 4px;
      padding-left: 7px;
      text-align: center;
  }

  .label {
    margin-right: 7px;
  }
}

.icon-custom-substatus {
  .icon-large;
  .pull-left;
  padding-right: 5px;
  padding-top: 3px;
  color: darken(@grayEvenLighter, 20%);
}

.substatus-none      { .icon-custom-substatus { .icon-download-alt; color: inherit; } color: @grayDark; }
.substatus-withdrawn { .icon-custom-substatus { .icon-ban-circle;   color: inherit; } color: @grayLight; }
.substatus-pending   { .icon-custom-substatus { .icon-time;         color: inherit; } color: @infoText; }
.substatus-accepted  { .icon-custom-substatus { .icon-ok;           color: inherit; } color: @successText; }
.substatus-rejected  { .icon-custom-substatus { .icon-ban-circle;   color: inherit; } color: @errorText; }


.nav-tabs {
  .substatus-none:hover      { color: @grayDark; }
  .substatus-pending:hover   { color: @infoText; }
  .substatus-withdrawn:hover { color: @grayLight; }
  .substatus-accepted:hover  { color: @successText; }
  .substatus-rejected:hover  { color: @errorText; }

  .icon-custom-substatus {
    padding: 8px 5px 0 0 !important;
  }

  li.disabled {
    cursor: default;
    span {
      display: block;
      color: #999;
      line-height: 18px;
      border: 1px solid transparent;
      border-radius: 4px 4px 0 0;
      padding: 8px 12px;
      margin-right: 2px;
    }
  }

  .active .icon-custom-substatus { color: @navbarText; }
}

.plaintext p {
  line-height: 28px;
  margin-bottom: 18px;
}

.topinfo {
  margin-top: 10px;
  margin-bottom: 20px;

  p {
    margin-top: 1px;
    margin-bottom: 0;
  }
}

.icon-extended-deadline {
  .icon-asterisk;
  color: @green;
}

.icon-warning {
  .icon-exclamation-sign;
  color: @red;
}

.fileaction {
  cursor: pointer;
}

.actions .fileaction {
  margin-left: 5px;
}

.actions .fileaction:hover {
  text-decoration: none;
}

.submission {
  .span5 h3, .automatic-checks-results .row h3 {
    margin: 0; line-height: inherit; padding-bottom: 7px;
  }
  .span5 p { margin-bottom: 2px; }
  .info-list { margin-top: 6px; }

  .submission-status {
    line-height: 28px;
    color: @grayLight;
  }
}

table.filelisting-5col {
  table-layout: fixed;
  margin-bottom: 9px;
  border: none;

  .filename { width: 35%; }
  .size     { width: 15%; text-align: right; }
  .date     { width: 20%; }
  .user     { width: 20%; }
  .actions  { width: 10%; text-align: right; }

  .filename .icon {
    color: @orange;
    margin-left: 6px;
    cursor: default;
  }

  tbody tr:first-child td {
    border-color: #eee;
  }

  th:first-child, td:first-child {
    padding-left: 0;
  }

  td.filename, td.user { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

  td.date { .small-date; }

  .message-error {
    color: red;
    font-weight: bold;
  }

  .progress {
    margin-bottom: 0;
  }

  tbody > tr.nofiles { display: none; }
  tbody > tr.nofiles:only-child { display: table-row; }
}

table .submission-status a:hover {
  text-decoration: none;
}

.table-students {
  .submission-status a span {
    font-family: @baseFontFamily;
  }
}

.link-icon:hover {
    text-decoration: none;
    .text { text-decoration: underline; }
}

#signup-form-row {
  margin-bottom: 18px;
}

#reset-password {
  margin-top: 18px;
  text-align: center;
}

#reset-password a {
  text-decoration: underline;
  cursor: pointer;
}

#fileupload { display: none; }

#modal-confirm-submit {
  ul.submission-authors li {
    list-style: none;
    font-size: 1.2em;
    line-height: 1.5*@baseLineHeight;
  }
}

table th .arrow {
  margin-left: 4px;
}

tr.default-row td {
  color: #999;
  text-align: center;
  line-height: 50px;
}

.grader-submissions-table {
  tr.other-grader {
    .muted;
    display: none;
  }

  .icon-custom-substatus {
    padding-top: 0;
    margin-top: 1px;
  }

  .substatus-none, .substatus-pending, .substatus-withdrawn, .substatus-accepted, .substatus-rejected {
    text-decoration: none;
  }

  .substatus-none:hover, .substatus-pending:hover, .substatus-withdrawn:hover, .substatus-accepted:hover, .substatus-rejected:hover {
    span {
      text-decoration: underline;
    }
  }

  a.substatus-none:hover      { color: darken(@grayDark, 20%); }
  a.substatus-pending:hover   { color: darken(@infoText, 20%); }
  a.substatus-withdrawn:hover { color: darken(@grayLight, 20%); }
  a.substatus-accepted:hover  { color: darken(@successText, 20%); }
  a.substatus-rejected:hover  { color: darken(@errorText, 20%); }
}

.panel {
  border: 1px #ccc solid;
  .border-radius(@baseBorderRadius);
  padding: 4px 8px;
  margin-bottom: 10px;
  margin-right: 8px;
  overflow: hidden;

  strong {
    .pull-left;
    .buttonBackground(@btnBackground, @btnBackgroundHighlight, @grayDark, 0 1px 1px rgba(255,255,255,.75));
    margin: -4px 0 -4px -8px;
    line-height: 26px;
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px #ccc solid;
    font-weight: normal;
  }

  form, label {
    margin-bottom: 0;
  }

  label {
    .pull-left;
    margin-left: 8px;
  }

  input {
    margin: -3px 4px 0 0;
  }
}

.control-panel {
  //margin-top: 5px;
  //margin-bottom: 15px;

  a {
    margin-right: 5px;
  }
}

#submissions > .submission {
  border: 1px #DDD solid;
  .border-radius(@baseBorderRadius);
  margin-bottom: 18px;

  .span5 {
    width: 360px;
  }
  input.span5 {
    width: 340px;
  }
  .span7 {
    width: 520px;
    textarea {
      width: 505px;
      max-width: 505px;
    }
  }
  .span12 { width: 900px; }

  .row {
    margin-right: -20px;
  }

  .row-submission-content {
    padding: 18px 19px 12px 19px;

    .span5 {
      label {
        margin-top: 5px;
        margin-right: 5px;
        .pull-left
      }
      select {
        width: auto;
      }
      .control-group {
        margin-bottom: 0;
      }
    }
  }

  .row-submission-form {
    padding-bottom: 18px;
  }

  .row-another-review {
    padding-right: 20px;
  }

  .review, .automatic-checks-results {
    padding: 18px 19px 12px 19px;
    border-top: 1px #EEE solid;
  }

  .automatic-checks-minimized {
    display: none;
    i {
      margin-right: 3px;
      margin-top: 0;
      padding-top: 2px;
    }
  }

  .automatic-checks-results {
    .automatic-check-result {
      overflow: hidden;
      h4 {
        margin: 9px 0 6px 0;
      }

      .icon-custom-substatus {
        padding-top: 0;
        margin-top: 0;
      }

      .check-output {
        margin-bottom: 9px;
        overflow: scroll;
        min-height: 20px;
        padding: 9px;
        background-color: #222;
        color: #DDD;
        font-size: 21px;

        border: 1px solid darken(#222, 7%);
        .border-radius(@baseBorderRadius);
        .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));

        .verbatim {
          overflow-y: hidden;
          overflow-x: auto;
          white-space: pre;
          #font > #family > .monospace;
          font-size: @baseFontSize - 1;
        }
      }

      .truncated .verbatim {
        height: 310px;
      }

      .check-output-show-full {
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: @white;
        background: lighten(#222, 10%);
        margin: 0 -9px -9px -9px;
        padding-left: 9px;
        padding-right: 9px;
        font-size: @baseFontSize + 1;
        cursor: pointer;
      }

      .check-output-show-full:hover {
        color: @white;
        text-decoration: underline;
      }
    }
    .automatic-check-result:first-child h4 {
      margin-top: 1px;
    }
  }

  .review-form {
    padding-bottom: 0;
  }

  .minimizer {
    display: none;
    width: 13px;
    height: 13px;
    position: relative;
    top: 6px;
    right: 11px;
    float: right;
    cursor: pointer;
    font-size: 15px;
    color: @linkColor;
  }
  .minimizer:hover {
    color: @linkColorHover;
  }
}

#submissions > .submission:hover {
  .minimizer {
    display: block;
  }
}

#submissions > .submission-minimized {
  .span5 form, .span5 p, .span7 table, .span7 form, .span7 .well, .span7 .control-group, .review, .automatic-checks-results, .minimizer {
    display: none;
  }
  .automatic-checks-minimized {
    display: block;
  }
}

#submissions > .submission-minimized:hover {
  .minimizer {
    display: none;
  }
  cursor: pointer;
  background-color: @blockHoverColor;
  border-color: darken(@blockHoverColor, 10%);
}

.row-submission-content {
  .remove-submitter .icon {
    margin-right: 0.2em;
    margin-left: 0.2em;
    color: @linkColor;
    cursor: pointer;
  }
  .remove-submitter:hover {
    color: @errorText;
    text-decoration: line-through;

    .icon {
      text-decoration: none;
      color: @errorText;
    }
  }
  .add-submitter {
    margin-top: 0.5em;
    color: @successText;
    .icon {
      margin-right: 0.2em;
    }
  }
  .add-submitter:hover {
    .icon {
      text-decoration: none;
    }
  }
}

#browse-download {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 100;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#browse-download a {
  font-size: 40px;
  text-decoration: none;
}

table.table-vcenter td {
  vertical-align: middle;
}

table.sortable thead th:hover
{
    background: #efefef;
    cursor: pointer;
}

table.table-row-links tbody {
  tr:not(.default-row):hover td {
    background-color: @blockHoverColor !important;
  }
}

.content > .table {
  margin-top: 5px;
}

.content > form {
  margin-top: 5px;
}

#grader-workload {
  td {
    padding: 4px 8px 0 8px;
    line-height: 26px;
    min-width: 80px;

    input {
      margin-right: 5px;
      margin-bottom: 4px;
      padding-right: 0;
      width: 2.75em;
      float: left;
    }

    .percent {
      margin: 0;
      line-height: 26px;
    }
    .percent::before {
      content: '≈ ';
    }
    .percent::after {
      content: '%';
    }
  }

  .unassigned, .unassigned + .percent {
    color: #BBB;
  }

  .understaffed {
    background-color: @errorBackground;
    border-color: #FFF;
  }
  .understaffed * {
    color: @errorText !important;
  }
}

#groupsizes {
  .wrong-size {
    background-color: @errorBackground;
    border-color: #FFF;
  }
  .wrong-size * {
    color: @errorText !important;
  }

  .empty {
    color: #BBB;
    .wrong-size {
      background-color: @tableBackground !important;
      border-color: @tableBorder !important;
    }
    .wrong-size * {
      color: #BBB !important;
    }
  }

  form {
    margin-bottom: 0;
  }

  label {
    margin-bottom: 0;
  }
}

#course-homepage {
  padding-left: 0;

  i {
    font-size: 16px;
    vertical-align: middle;
    margin-top: -6px;
  }
}

#reassign-grader {
  margin-bottom: 0;
}

#deadlines td {
  .input-append {
    margin-bottom: 0;
  }
  span {
    line-height: 28px;
  }
}

.nested-invisible {
  display:inherit;
  background:none!important;
  border:none;
  margin:0!important;
  padding:0!important;
  font: inherit;
  color: inherit;
  line-height: inherit;
  cursor: inherit;
}

.verbatim {
  white-space: pre-wrap;
}

.alert .close {
  top: 1px;
  right: -23px;
}

.student-info {
  width: 500px;
  border: 1px #DDD solid;
  .border-radius(@borderRadiusSmall);
  padding: 18px 18px 3px;
  margin-bottom: 9px;

  .span3 {
    margin-left: 0;
  }
  .span4 {
    margin-left: 30px;
    width: 220px;
  }
}